# AHMAD (SP25-BBD-006) :

# QUESTION 1 :

In [1]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

# QUESTION 2 :

In [6]:
names = ['Adnan','Ahamd','Abdullah']
for list in names:
    print(list.upper())

ADNAN
AHAMD
ABDULLAH

# QUESTION 3 :

In [10]:
for number in range(10,0,-1):
    print(number)

10
9
8
7
6
5
4
3
2
1

# QUESTION 4 :

In [12]:
for num in range(1,21):
    if num % 3 == 0:
        print(num)

3
6
9
12
15
18

# QUESTION 5 :

In [14]:
for num in range(1, 11):
    print(num ** 2)

1
4
9
16
25
36
49
64
81
100

# QUESTION 6 :

In [15]:
celsius_temps = [0, 10, 20, 30, 40, 50]
for temp in celsius_temps:
    fahrenheit = (temp * 9/5) + 32
    print(f"{temp}°C = {fahrenheit}°F")

0°C = 32.0°F
10°C = 50.0°F
20°C = 68.0°F
30°C = 86.0°F
40°C = 104.0°F
50°C = 122.0°F

# QUESTION 7 :

In [16]:
for i in range(1, 11):
    print(f"5 x {i} = {5 * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# QUESTION 8 :

In [22]:
numbers = [3, 7, 12, 5, 8]
total = 0
for num in numbers:
    total += num
print("Sum:", total)

Sum: 35

# QUESTION 9 :

In [23]:
text = "ADNAN ASLAM"
for character in text:
    print(character)

A
D
N
A
N

A
S
L
A
M

# QUESTION 10 :

In [27]:
words = ['Ahmad','Abdullah','Anushay']
for word in words:
    if len(word) > 5 :
        print(word)

Abdullah
Anushay